<div class="">
  <span id="tzXplBtn" class="tgLink dispinlbl"><%= t("hello.tjOfSite1") %></span>
  <ul id="tzXplTxt" style="display: none;" class="lstn">
    <li>
      <%= t("hello.tJob1") -%> <%= t("hello.tJob2") -%>
    </li>
    <br>
    <li>
      <%= t("hello.tJob3") -%> <%= t("hello.tJob4") -%> <%= raw(t("hello.tJob5")) -%> <%= t("hello.tJob6") -%>
    </li>
    <br>
    <li>
      <%= t("hello.tJob7") -%>
    </li>
    <br>
    <li>
      <%= t("hello.tJob8") -%>
    </li>
  </ul>
</div>
<br>